.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }

  .movImgContainer{
    border : 1px solid green;
    width : 200px;
    height : 200px;
  }
